@charset "utf=8";
/* css/main.css */

/* 1366px 이상의 너비를 가진 모니터 화면 */
h1 { font-size: 36px; }
.col_1{ width: 8.33%; }
.col_2{ width: 16.66%; }
.col_3{ width: 25%; }
.col_4{ width: 33.33%; }
.col_5{ width: 41.66%; }
.col_6{ width: 50%; }
.col_7{ width: 58.33%; }
.col_8{ width: 66.66%; }
.col_9{ width: 75%; }
.col_10{ width: 83.33%; }
.col_11{ width: 91.66%; }
.col_12{ width: 100%; }


/* montserrat 영문 구글폰트 */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap');

:root{
  --black:#1c1c1c;
  --accent-color: #f5aa82;
  --english-font: 'Montserrat';
  --korean: 'NanumSquare';
  --korean-size: 1.2em/1.3em;
}
/* 텍스트 드래그 */
::selection{ background-color: var(--accent-color); color: #fff; }

#mainSect{
	width: 100%; height: 100vh; overflow: hidden;
  position: relative;
}
#mainSect >.wrap{
  width: 1200px; height: 85%;
  position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);
  background: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)), url(../img/cool_bg.jpg) center/cover;
  text-align: center;
  font: 16px var(--korean); color: var(--black);
}
#mainSect >.wrap >h3{
  width: 100%; height: 100px; margin: 50px auto 0;
  font: 4em var(--english-font); font-weight: 800;
  letter-spacing: 10px;
  color: #354350;
}
#mainSect >.wrap >h3 span{
  position: relative;
  color: #f45151;
  animation: span 2s ease-in-out infinite;
}
@keyframes span {
  0%{top: -40px; opacity: 0.2;}
  50%{top: 2px; opacity: 1;}
  100%{top: -40px; opacity: 0.2;}
}

#mainSect >.wrap >p{
  width: 800px; height: 60px; line-height: 30px;
  margin: auto;
  font-size: 1.3em;
}

/* 기술 소개 */
#mainSect >.wrap >.skill_area{
  width: 80%; height: 450px; margin: auto; background-color: rgba(255,255,255,0.6);
}
  .skill_area >.design_list{
    width: 80%; height: 50%; margin: auto; padding: 35px 0;
    display: flex; justify-content: space-between;
  }
    .design_list img{ width: 150px; height: auto; }

  .skill_area >.coding_list{
    width: 60%; height: 50%; margin: auto; padding: 35px 0;
    display: flex; justify-content: space-between;
  }
    .coding_list img{ width: 150px; height: auto; }

  /* 이력서 다운로드 */
  .skill_area >a{
    opacity: 0.5;
    display: block; margin: 30px auto 0;
    width: 220px; height: 50px;
    box-sizing: border-box;
    color: #f2f2f2;
    font-size: 1em;
    font-weight: bold;
    box-shadow: inset 0 0 0 2px #f2f2f2; /* 안쪽그림자 x축 y축 흐림도 두께 색상 */
    position: relative;
    transition: color 0.25s; /* color속성을 0.25초동안 변경 */
  }
  .skill_area >a >span{ display: block; padding-top: 5px; font: 1.1em var(--korean); color: var(--black); }
  .skill_area >a >span >img{ position: relative; top: 3px; left: 10px; }

  .skill_area >a:hover{ opacity: 1; }
  .skill_area >a::before, .skill_area >a::after{
    content: " ";
    box-sizing: inherit; /* border-box로 상속받음 */
    position: absolute;
    border: 2px solid transparent;
    width: 0; height: 0;
  }
  .skill_area >a::before{ top: 0; left: 0; }
  .skill_area >a::after{ bottom: 0; right: 0; }

  /* hover시 애니메이션 효과===================================== */
  .skill_area >a:hover::before, .skill_area >a:hover::after{
    width: 100%; height: 100%;
  }

  .skill_area >a:hover::before{
    border-top-color: #354350;
    border-right-color: #354350;
    transition: width 0.25s ease-out,height 0.25s ease-out 0.25s;
  }
  .skill_area >a:hover::after{
    border-bottom-color: #354350;
    border-left-color: #354350;
    transition: border-color 0s 0.5s,width 0.25s ease-out 0.5s,height 0.25s ease-out 0.75s;
  }
