@charset "utf=8";
/* css/enber.css */

/* 1366px 이상의 너비를 가진 모니터 화면 */
h1 { font-size: 36px; }
.col_1{ width: 8.33%; }
.col_2{ width: 16.66%; }
.col_3{ width: 25%; }
.col_4{ width: 33.33%; }
.col_5{ width: 41.66%; }
.col_6{ width: 50%; }
.col_7{ width: 58.33%; }
.col_8{ width: 66.66%; }
.col_9{ width: 75%; }
.col_10{ width: 83.33%; }
.col_11{ width: 91.66%; }
.col_12{ width: 100%; }


/* montserrat 영문 구글폰트 */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap');

:root{
  --black:#1c1c1c;
  --accent-color: #f5aa82;
  --english-font: 'Montserrat';
  --korean: 'NanumSquare';
  --korean-size: 1.2em/1.3em;
}
/* 텍스트 드래그 */
::selection{ background-color: var(--accent-color); color: #fff; }

#enberSect{
	width: 100%; height: 1600px; overflow: hidden;
}
#enberSect >.title_wrap{
	width: 100%; height: 100vh;
  position: relative;
	background: linear-gradient(0deg, rgba(0,0,0,0.5),rgba(255,255,255,0.8)), url(../img/enber_bg.png) center/cover;
  background-attachment: fixed;
  font: 16px var(--korean); color: var(--black);
  text-align: center;
}
#enberSect >.title_wrap >.title_area{
  width: 500px; height: 350px;
  position: absolute;
  top: 50%; left: 50%; transform: translate(-50%,-50%);
  overflow: hidden;
}
  .title{
    width: 100%; height: 150px;
    margin-top: 100px;
    letter-spacing: 3px;
  }
  .title >h3{
    height: 60px; line-height: 60px;
    font-size: 1.8em; font-weight: 800;
  }
  .title >p{
    font-size: var(--korean-size);
  }
  .title_btn{
    width: 100%; height: 100px; display: flex; justify-content: center;
  }
  .title_btn >a{
    width: 150px; height: 40px; margin-right: 15px;
    border: 1px solid var(--black);
    background-color: transparent;
    font: 17px var(--korean); color: var(--black);
  }
  .title_btn >a >span{ line-height: 40px; }
  .title_btn >a:last-child{ margin-right: 0; }
  .title_btn >a:hover{
    background-color: #000; color: #fff;
  }

  /* 하단 scroll 화살표 */
  .title_wrap >.scroll_line >img{
    position: absolute;
    left: 49%; transform: translateX(-50%); bottom: 5%;
    height: 60px;
    animation: line 2s ease-in-out infinite;
    animation-fill-mode: forwards;
  }
  @keyframes line {
    0%{ transform: translateY(0); }
    50%{ transform: translateY(20PX); }
    100%{ transform: translateY(0); }
  }




/* 가로모드 태블릿이나 오래된 데스크탑 모니터 */
@media only screen and (min-width: 1024px) and (max-width: 1365px) {
	h1 { font-size: 32px; }

}

/* 세로 모드의 태블릿이나 큰 화면을 가진 스마트폰의 가로모드 */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
	h1 { font-size: 28px; }
}

/*  일반적인 스마트폰의 가로모드 */
@media only screen and (min-width: 421px) and (max-width: 767px) {
	h1 { font-size: 24px; }
}

/*  일반적인 스마트폰의 세로모드  */
@media only screen and (max-width: 420px) {
	h1 { font-size: 20px; }
}
