@charset "utf=8";
/* css/footer.css */

/* montserrat 영문 구글폰트 */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap');

:root{
  --black:#1c1c1c;
  --accent-color: #f5aa82;
  --english-font: 'Montserrat';
  --korean: 'NanumSquare';
  --korean-size: 1.2em/1.3em;
}
/* 텍스트 드래그 */
::selection{ background-color: var(--accent-color); color: #fff; }

#footBox{
  max-width: 1200px; height: 300px; margin: auto; background-color: #9b8a81;
}
