@charset "utf=8";
/* css/header.css */

/* montserrat 영문 구글폰트 */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap');

:root{
  --black:#1c1c1c;
  --accent-color: ;
  --english-font: 'Montserrat';
  --korean: 'NanumSquare';
  --korean-size: 1.2em/1.3em;
}

/* 텍스트 드래그 */
::selection{ background-color: var(--accent-color); color: #fff; }

#headBox{
	width: 100%; height: 140px;
	position: fixed;
	top: 0; left: 0;
	overflow: hidden;
	display: flex; justify-content: space-between;
	z-index: 1;
}
#headBox >h1{
	position: absolute;
	top: 50%; left: 2%; transform: translateY(-50%);
}
/* menu button */
.head_btn >.menubar{
	width: 60px; height: 60px;
	position: fixed;
	top: 2%; right: 3%;
	border: 1px solid #000;
  background-color: transparent;
  z-index: 3;
}
	.menubar >span{
    display: block;
    width: 30px; height: 2px;
    background-color: #000;
    margin: 10px auto;
    transition: all 0.4s;
  }
  .change >.bar1{ transform: rotate(-45deg) translate(-9px,7px); }
  .change >.bar2{ opacity: 0; }
  .change >.bar3{ transform: rotate(45deg) translate(-9px,-8px); }
/* //menu button */

/* menubar click */
.menu_list{
  width: 100%; height: 100vh; background-color: #fff;
  position: fixed;
  top: 100%; left: 0; /* 화면 밑에서 올라오는 효과주기 위해 */
  z-index: 2;
  font: 17px var(--english-font); color: var(--black);
  display: none;
}
.menu_list >.wrap{
  width: 100%; height: 650px;
  position: absolute; top: 53%; left: 50%; transform: translate(-50%,-50%);
  text-align: center;
}
.menu_list .menu{
  width: 100%; height: 390px;
}
  .menu >li{
    height: 150px; line-height: 150px; margin: auto;
    background-color: #fff;
    font-size: 3em; font-weight: 800; letter-spacing: 3px;
  }
  .menu >li.web:hover{ color: #f9d196; }
  .menu >li.graphic:hover{ color: #b5c6a1; }
  .menu >li.contact:hover{ color: #aecfee; }
  .menu >li.contact:hover span{ color: #f45151; }

.menu_list .info{
  width: 250px; height: 100px; line-height: 100px; margin: 100px auto 0;
  display: flex; justify-content: space-between;
}
  .info >li{ opacity: 0.6; }
  .info >li:hover{ opacity: 1; }

.menu_list.on{ display: flex; }
