@charset "utf=8";
/* css/main.css */

/* 1366px 이상의 너비를 가진 모니터 화면 */
h1 { font-size: 36px; }
.col_1{ width: 8.33%; }
.col_2{ width: 16.66%; }
.col_3{ width: 25%; }
.col_4{ width: 33.33%; }
.col_5{ width: 41.66%; }
.col_6{ width: 50%; }
.col_7{ width: 58.33%; }
.col_8{ width: 66.66%; }
.col_9{ width: 75%; }
.col_10{ width: 83.33%; }
.col_11{ width: 91.66%; }
.col_12{ width: 100%; }


/* montserrat 영문 구글폰트 */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap');

:root{
  --black:#1c1c1c;
  --accent-color: #f5aa82;
  --english-font: 'Montserrat';
  --korean: 'NanumSquare';
  --korean-size: 1.2em/1.3em;
}
/* 텍스트 드래그 */
::selection{ background-color: var(--accent-color); color: #fff; }

#mainSect{
	width: 100%; height: 100vh; overflow: hidden;
}
#mainSect >.sect_wrap{
	width: 100%; height: 100%;
  display: flex; justify-content: space-between;
}
  /* .web .graphic .contact */
  .sect_wrap >article{
    width: 100%; height: 100%; overflow: hidden;
    position: relative;
    font: 18px var(--english-font); color: var(--black);
    text-align: center;
  }
  /* 메뉴 안 콘텐츠 위치정렬 */
  .sect_wrap >article >div{
    position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);
  }
  .sect_wrap >article >.img_box{ width: 430px; height: 430px; }
  .sect_wrap >article >.img_box >img{width: 100%; height: 100%;}

  .sect_wrap >article >.info_box >h3{
    font-size: 4em; font-weight: 800;
    letter-spacing: 10px;
  }
  .sect_wrap >article >.info_box .arrow{
    position: relative;
    animation: arrow 2s ease-in-out infinite;
  }
  @keyframes arrow {
    0%{left: -30px;}
    50%{left: 20px;}
    100%{left: -30px;}
  }

  /* hover */
  .sect_wrap >article:hover .img_box{ opacity: 0; }
  .sect_wrap >article:hover .info_box{ display: block; }
  .sect_wrap >article > .info_box{ display: none; }

  /* .web */
  .web{ background-color: #f9d196; }
  .web >.info_box >h3{ color: #4e4436; }

  /* .graphic */
  .graphic{ background-color: #b5c6a1;  }
  .graphic >.info_box >h3{ color: #484f40; }

  /* .contact */
  .contact{ background-color: #aecfee; }
  .contact >.info_box >h3{
    color: #354350;
  }
  .contact >.info_box >h3 span{
    position: relative;
    color: #f45151;
    animation: span 2s ease-in-out infinite;
  }
  @keyframes span {
    0%{top: -40px; opacity: 0.2;}
    50%{top: 2px; opacity: 1;}
    100%{top: -40px; opacity: 0.2;}
  }

  .contact >.info_box >a{
    opacity: 0.5;
    display: block; margin: 15px auto 0;
    width: 220px; height: 50px;
    box-sizing: border-box;
    color: #f2f2f2;
    font-size: 1em;
    font-weight: bold;
    box-shadow: inset 0 0 0 2px #f2f2f2; /* 안쪽그림자 x축 y축 흐림도 두께 색상 */
    position: relative;
    transition: color 0.25s; /* color속성을 0.25초동안 변경 */
  }
  .contact >.info_box >a >span{ display: block; padding-top: 5px; font: 1em var(--korean); color: var(--black); }
  .contact >.info_box >a >span >img{ position: relative; top: 3px; left: 10px; }

  .contact >.info_box >a:hover{ opacity: 1; }
  .contact >.info_box >a::before, .contact >.info_box >a::after{
    content: " ";
    box-sizing: inherit; /* border-box로 상속받음 */
    position: absolute;
    border: 2px solid transparent;
    width: 0; height: 0;
  }
  .contact >.info_box >a::before{ top: 0; left: 0; }
  .contact >.info_box >a::after{ bottom: 0; right: 0; }

  /* hover시 애니메이션 효과===================================== */
  .contact >.info_box >a:hover::before, .contact >.info_box >a:hover::after{
    width: 100%; height: 100%;
  }

  .contact >.info_box >a:hover::before{
    border-top-color: #354350;
    border-right-color: #354350;
    transition: width 0.25s ease-out,height 0.25s ease-out 0.25s;
  }
  .contact >.info_box >a:hover::after{
    border-bottom-color: #354350;
    border-left-color: #354350;
    transition: border-color 0s 0.5s,width 0.25s ease-out 0.5s,height 0.25s ease-out 0.75s;
  }


/* 세로 모드의 태블릿이나 큰 화면을 가진 스마트폰의 가로모드 */
@media only screen and (min-width: 768px) and (max-width: 1366px) {
	h1 { font-size: 28px; }

  #headBox{ height: 120px; }
  #headBox >h1 img{ display: inline-block; width: 100px; }
  /* menu button */
  .head_btn >.menubar{ width: 50px; height: 50px; }

  #mainSect{ height: auto; }
  #mainSect >.sect_wrap{ height: 1560px; display: block; }

    /* .web .graphic .contact */
    .sect_wrap >article{ height: 520px; font-size: 16px; }
    .sect_wrap >article >.img_box >img{ width: 100%; height: auto; }
}

/*  일반적인 스마트폰의 가로모드 */
@media only screen and (min-width: 421px) and (max-width: 767px) {
	h1 { font-size: 24px; }

  #headBox{ height: 80px; }
  #headBox >h1{ top: 50%; }
  #headBox >h1 img{ display: inline-block; width: 80px; }
  /* menu button */
  .head_btn >.menubar{ width: 30px; height: 30px; top: 1.5%; border: 0; }
    .menubar >span{ width: 20px; margin: 5px auto; }
    .change >.bar1{ transform: rotate(-45deg) translate(-5px,6px); }
    .change >.bar2{ opacity: 0; }
    .change >.bar3{ transform: rotate(45deg) translate(-4px,-5px); }


  #mainSect{ height: auto; }
  #mainSect >.sect_wrap{ height: auto; display: block; }

    /* .web .graphic .contact */
    .sect_wrap >article{ height: 100vh; font-size: 13px; }
    .sect_wrap >article >.img_box{ width: 350px; height: 350px; }
    .sect_wrap >article >.img_box >img{ width: 100%; height: auto; }

    .sect_wrap >article >.info_box .arrow >img{width: 150px; height: auto;}

    .contact >.info_box >a{ width: 180px; }
}

/*  일반적인 스마트폰의 세로모드  */
@media only screen and (max-width: 420px) {
	h1 { font-size: 20px; }

  #headBox{ height: 80px; }
  #headBox >h1{ top: 50%; }
  #headBox >h1 img{ display: inline-block; width: 80px; }
  /* menu button */
  .head_btn >.menubar{ width: 30px; height: 30px; top: 1.5%; border: 0; }
    .menubar >span{ width: 20px; margin: 5px auto; }
    .change >.bar1{ transform: rotate(-45deg) translate(-5px,6px); }
    .change >.bar2{ opacity: 0; }
    .change >.bar3{ transform: rotate(45deg) translate(-4px,-5px); }


  #mainSect{ height: auto; }
  #mainSect >.sect_wrap{ height: auto; display: block; }

    /* .web .graphic .contact */
    .sect_wrap >article{ height: 100vh; font-size: 10px; }
    .sect_wrap >article >.img_box{ width: 320px; height: 320px; }
    .sect_wrap >article >.img_box >img{ width: 100%; height: auto; }

    .sect_wrap >article >.info_box .arrow >img{width: 120px; height: auto;}

    .contact >.info_box >a{ width: 130px; height: 40px; opacity: 1; }
    .contact >.info_box >a >span{ padding-top: 12px; font-size: 1.2em; }
    .contact >.info_box >a >span >img{ display: none; }
}
