@font-face {
	font-family: 'feathericons';
	src:url('../../fonts/feathericons/feathericons.eot?2h4ajg');
	src:url('../../fonts/feathericons/feathericons.eot?#iefix2h4ajg') format('embedded-opentype'),
		url('../../fonts/feathericons/feathericons.woff?2h4ajg') format('woff'),
		url('../../fonts/feathericons/feathericons.ttf?2h4ajg') format('truetype'),
		url('../../fonts/feathericons/feathericons.svg?2h4ajg#feathericons') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* montserrat 영문 구글폰트 */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap');
:root{
  --black:#1c1c1c;
  --accent-color: #f5aa82;
  --english-font: 'Montserrat';
  --korean: 'NanumSquare';
  --korean-size: 1.2em/1.3em;
}
/* 텍스트 드래그 */
::selection{ background-color: var(--accent-color); color: #fff; }

html,
body,
.js .container,
.js .dragslider,
.js .img-dragger .handle {
	height: 100%;
}

html.js,
.js body {
	overflow: hidden;
	position: relative;
}

/* logo====================================================================== */
.prev_btn >.menubar{
	width: 120px; height: 120px;
	position: absolute; z-index: 101;
	top: 1%; left: 2%;
  background-color: transparent;
}
.prev_btn >.menubar >img{
  width: 100%; height: 100%;
}

@media only screen and (min-width: 421px) and (max-width: 1366px) {
  .prev_btn >.menubar{ width: 100px; height: 100px; }
}
@media only screen and (max-width: 420px) {
  .prev_btn >.menubar{ width: 80px; height: 80px; }
}
/* // logo====================================================================== */

.js .dragslider {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-transition: -webkit-transform 0.6s cubic-bezier(.7,0,.3,1);
	transition: transform 0.6s cubic-bezier(.7,0,.3,1);
}

.dragslider.show-content {
	-webkit-transform: translate3d(0,-100%,0);
	transform: translate3d(0,-100%,0);
}

.dragslider h2 {
	font-family: 'NanumSquare';
	font-size: 2.5em;
	font-weight: 700;
	text-align: center;
	margin: 0 auto;
	line-height: 1.5;
	position: relative;
}

.no-js .dragslider h2 {
	padding: 15px;
}

.dragslider h2 span {
	display: block;
	font-size: 1.2rem;
	font-family: 'NanumSquare';
	letter-spacing: 3px;
	font-weight: normal;
	padding-top: 0.5em;
}
.title_btn{
	font-family: 'NanumSquare';
	position: absolute; top: 60%;
	width: 100%; height: 100px; display: flex; justify-content: center;
	text-align: center;
}
.title_btn >a{
	width: 180px; height: 40px; margin-right: 20px;
	border: 1px solid #fff;
	background-color: transparent;
	font: 17px var(--korean); color: #fff;
}
.title_btn >a >span{ line-height: 40px; }
.title_btn >a:last-child{ margin-right: 0; }
.title_btn >a:hover{
	background-color: #000; border-color: #000; color: #fff;
}
.img-dragger-small .slide .title_btn{display: none;}

@media only screen and (max-width: 420px) {
	.title_btn{
		position: absolute; top: 60%;
		width: 100%; height: 100px; display: block;
	}
	.title_btn >a{
		display: block;
		width: 60%; height: 40px;
		margin: 10px auto 0;
		font-size: 16px;
	}
	.title_btn >a:last-child{ margin: 10px auto 0; }
	.title_btn >a >span{ line-height: 40px; }
}

/* Switch button */
button.slider-switch {
	font-size: 0;
	width: 80px;
	height: 80px;
	padding: 0;
	color: transparent;
	position: relative;
	border: none;
	background: url(../../img/switchmin.svg) no-repeat center center;
	background-size: 90%;
	float: right;
	outline: none;
	overflow: hidden;
	opacity: 0.7;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
	pointer-events: auto;
}

.no-js button.slider-switch {
	display: none;
}

button.slider-switch.view-maxi {
	background-image: url(../../img/switchmax.svg)
}

button.slider-switch:hover {
	opacity: 1;
}

/* Dragger */
.img-dragger {
	position: relative;
	z-index: 100;
}

.js .img-dragger {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
}

.js .img-dragger-large {
	width: 100%;
	height: 100%;
}

.js .img-dragger .handle {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	white-space: nowrap;
	font-size: 0;
}

.no-js .img-dragger,
.no-js .img-dragger .handle {
	height: auto;
	position: relative;
	text-align: center;
	font-size: 0;
	clear: both;
	white-space: nowrap;
	overflow: auto;
}

.no-js .img-dragger .handle {
	padding: 40px 0 0;
}

.img-dragger .slide {
	display: inline-block;
	position: relative;
	height: 100%;
	background: #567076;
	font-size: 16px;
	white-space: normal;
	cursor: -webkit-grab;
	cursor: -moz-grab;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	vertical-align: top;
}

.no-js .img-dragger .slide {
	width: 300px;
	font-size: 7px;
	min-height: 200px;
}

.img-dragger .slide:active {
	cursor: -webkit-grabbing;
	cursor: -moz-grabbing;
}

.img-wrap {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.dosign_site{
	background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(../../img/Dosign-site-bg.png) center/cover;
}

.img-wrap img {
	position: absolute;
	display: block;
	height: calc(100% + 0.2px);
	opacity: 0.5;
}

@media screen and (min-aspect-ratio: 1280/850) {
    .img-dragger .img-wrap  img {
        width: calc(100% + 0.2px);
        height: 100%;
    }
}

.js .slide h2 {
	color: #fff;
	position: absolute;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.js .img-dragger-large .slide h2 {
	width: 70%;
	left: 15%;
	top: 50%;
	-webkit-transform: translate3d(0,-50%,0);
	transform: translate3d(0,-50%,0);
}

.img-dragger-small .slide h2 {
	font-size: 2em;
	padding-top: 0.5em;
	top: 100%;
	width: 100%;
	text-align: center;
	color: #747474;
	-webkit-animation: slideUpFade 0.4s 0.1s;
}

@-webkit-keyframes slideUpFade {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0,20px,0);
	}
	to {
		opacity: 1;
		-webkit-transform: translate3d(0,0,0);
	}
}

.img-dragger-small .slide h2 span {
	font-size: 0.4em;
}

.img-dragger-small .slide.current h2 {
	color: #fff;
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
	-webkit-transition: color 0.3s, opacity 0.3s;
	transition: color 0.3s, opacity 0.3s;
}

.slide h2 i {
	font-style: normal;
	font-weight: 400;
}


button.content-switch {
	border: 2px solid #fff;
	width: 160px;
	text-indent: 200%;
	overflow: hidden;
	white-space: nowrap;
	background: transparent;
	color: #fff;
	font-family: 'Lato', sans-serif;
	position: absolute;
	cursor: pointer;
	top: 100%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-200%,0);
	transform: translate3d(-50%,-200%,0);
	padding: 1em 2em;
	font-size: 0.85em;
	line-height: 1;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	outline: none;
	z-index: 1000;
	opacity: 0.7;
	-webkit-transition: -webkit-transform 0.6s cubic-bezier(.7,0,.3,1), opacity 0.3s, color 0.3s, border-color 0.3s;
	transition: transform 0.6s cubic-bezier(.7,0,.3,1), opacity 0.3s, color 0.3s, border-color 0.3s;
}

.no-js button.content-switch {
	display: none;
}

button.content-switch:hover {
	opacity: 1;
}

button.content-switch::before {
	content: '\e097';
	font-family: 'feathericons';
	speak: none;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	text-indent: 0;
	font-size: 1.5em;
	line-height: 0.75;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.show-content .current button.content-switch {
	border-color: #1c1c1c;
	color: #1c1c1c;
	-webkit-transform: translate3d(-50%,100%,0);
	transform: translate3d(-50%,100%,0);
}

.show-content .current button.content-switch::before {
	content: '\e096';
}

/* Content */
.js .pages {
	position: absolute;
	top: 100%;
	height: 0;
	width: 100%;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	-webkit-transition: height 0s 0.6s;
	transition: height 0s 0.6s;
}

.js .show-content .pages {
	-webkit-transition: none;
	transition: none;
	height: 100%;
}

.pages .content {
	width: 100%; height: auto;
	color: var(--black);
	font: var(--korean-size) var(--korean); /* 부모font */
}
.pages .content .cont{
	width: 100%; height: auto; margin: auto;
	background-color: #ddd;
}

.js .pages .content {
	position: absolute;
	top: 0;
	left: 0;
	height: 0;
	width: 100%;
	overflow: hidden;
	-webkit-transition: height 0s 0.6s;
	transition: height 0s 0.6s;
}

.pages .content.show {
	height: auto;
	-webkit-transition: none;
	transition: none;
}

/* content-1=============================================================== */
/* .intro_area */
.pages .content .cont >.intro_area{
	width: 100%; height: auto; overflow: hidden;
	text-align: center; margin: auto;
}
/* 주식회사 엔버 소개 .title_area */
.pages .content .cont .title_area{
	width: 100%; height: 150px; margin: 150px 0 40px;
}
.pages .content .cont .title_area >h2{ font-size: 2em; line-height: 80px; }


/* 주식회사 엔버 설명 .info_area */
.pages .content .cont .info_area{
	width: 80%; height: 280px; margin: auto;
	display: flex; justify-content: center;
}
.pages .content .cont .info_area >ul{
	width: 100%; height: 100%;
}
  .info_area >ul >li:first-child{
    width: 80px; height: 80px; line-height: 80px; margin: 0 auto 25px;
    border-radius: 50%; background-color: #FFF;
    font-size: 1.5em; font-weight: 700;
  }


/* .swot_area */
.pages .content .cont >.swot_area{ width: 100%; height: 800px; padding: 30px 0; background-color: #fff; text-align: center; }
.pages .content .cont >.swot_area >img{ width: 80%; height: auto; }


/* .solution_area */
.pages .content .cont >.solution_area{
  width: 100%; height: 500px;
  position: relative;
  background: url(../../img/enber/solutions.png) center/cover;
  overflow: hidden;
  font-size: 23px; text-align: center;
}
.pages .content .cont >.solution_area >h2{
  position: absolute; z-index:-1;
  width: 0; height: 0; display: block; overflow: hidden;
  border:0; margin: 0; padding: 0;
}
.pages .content .cont >.solution_area >.solutions{
  width: 70%;
  position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);
  display: flex; justify-content: space-around;
  font-size: 1em; line-height: 30px;
}


/* .style_area */
.pages .content .cont >.style_area{
  width: 100%; height: 1000px;
  background: url(../../img/enber/line.png) center/cover; background-color: #fff;
  font-size: 16px;
}
.pages .content .cont >.style_area >div.font_area{ margin: 200px auto 160px; }
.pages .content .cont >.style_area img{ width: 100%; height: auto; }
.pages .content .cont >.style_area >div >h3{
  height: 50px; line-height: 50px; margin-left: 20%;
  font: 2.5em var(--english-font); font-weight: 800;
}

/* .rule_area */
.pages .content .cont >.rule_area{
  width: 100%; height: 1600px; background-color: #fff;
  padding: 50px 0; text-align: center;
  font-size: 16px;
  overflow: hidden;
}
.pages .content .cont >.rule_area >.contrast{ width: 100%; height: 550px; }
  .contrast >h3{ width: 100%; height: 80px; line-height: 80px; font-size: 2em; font-weight: 700; }
  .contrast >p{
    width: 430px; height: 40px; line-height: 40px; margin: 0 auto 50px;
    font-size: 1.2em; color: #fff; background-color: #5e534c;
    letter-spacing: 2px;
  }
	.contrast >img{ width: 60%; height: auto; }

/* html 규정에 관한 인증 및 설명 */
.pages .content .cont >.rule_area >.rule_title{
  width: 60%; height: 60px; margin: 80px auto 0;
  display: flex; justify-content: space-around;
  font-size: 1.3em; font-weight: 700;
}
.pages .content .cont >.rule_area >.rule_title >li{ padding: 10px 0 0; border-top: 2px solid var(--black); }


/* .designpage_area */
.pages .content .cont >.designpage_area{
  width: 100%; height: auto; margin: auto; text-align: center;
}
.pages .content .cont >.designpage_area img:last-child{ width: 100%; height: auto; }

/* // content-1=============================================================== */

/* content-2=============================================================== */
.pages .content .cont02 >.build_area{
	width: 100%; height: 100vh; margin: auto;
  background-color: #fff; text-align: center;
  position: relative;
}
	.build_area >.build_wrap{
		width: 100%; height: 70%; margin: auto;
		background-color: #c28474;
	}
	.build_area >img{
		position: absolute; top: 55%; left: 50%; transform: translate(-50%,-50%);
	}

.pages .content .cont02 >.brand_info{
	width: 100%; height: 1500px; margin: auto;
	background-color: #fff; text-align: center;
	overflow: hidden;
}
	.brand_info >.title{
		width: 100%; height: 40%; margin: 50px 0;
		font-size: 18px;
	}
		.title >.title_img{
			width: 100%; height: 250px;
			background: url(../../img/melixir/whatismelixir.png) center;
			overflow: hidden;
		}
		.title >.title_img >h3{
			letter-spacing: 3px;
			font: 3.6em var(--english-font);
			font-weight: 800; color: #fff;
			line-height: 250px;
		}
		.brand_info >.title >.title_txt{ width: 100%; height: 200px; margin-top: 120px; }
			.title_txt >p{ font: 1.2em var(--korean); color: var(--black); line-height: 60px; }
			.title_txt >p >span.bold{ font-weight: 700; font-size: 1.1em; }


	.brand_info >.solutions{
		width: 100%; height: 60%; padding: 150px 0;
		font: 18px var(--korean); color: var(--black);
		background: url(../../img/melixir/solutions-bg.png) center;
	}
		.solutions >.problem_list{
			width: 50%; height: 250px; margin: auto;
			display: flex; justify-content: space-around;
		}
		.solutions >.problem_list >li{
			width: 250px; height: 100%; line-height: 30px; padding: 85px 0;
			border: 3px solid #7e7e7e;
			border-radius: 50%;
			font-size: 1.1em; color: #7e7e7e;
		}

		.solutions >.solutions_list{
			width: 50%; height: 250px; margin: -30px auto;
			display: flex; justify-content: space-around;
		}
		.solutions >.solutions_list >li{
			width: 250px; height: 100%; line-height: 30px; padding: 90px 0;
			border: 4px solid #000;
			border-radius: 50%;
			font-size: 1.1em; font-weight: 700;
		}
		.solutions >.solutions_list >li:first-child{ border-color: #f1c289; }
		.solutions >.solutions_list >li:nth-child(2){ border-color: #b3dbb5; }
		.solutions >.solutions_list >li:last-child{ border-color: #c8b5d3; }


	.pages .content .cont02 >.styleguide{
		width: 100%; height: 100vh; position: relative;
    background: url(../../img/style-bg.png) center/cover;
		background-color: #fff;
		font-size: 18px;
  }
		.styleguide >.wrap{ width: 80%; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); }
		.styleguide >.wrap >article{
			width: 100%; height: 50%;
			display: flex; justify-content: space-around;
			margin: 100px 0;
		}
		.styleguide >.wrap >article .title >h3{
			font: 2.5em var(--english-font); font-weight: 800; line-height: 80px;
		}
		.styleguide >.wrap >article .title >p{
			font-size: 1.1em; line-height: 30px; margin-left: 15px;
		}

  .pages .content .cont02 >.rule{
		width: 100%; height: 200vh; text-align: center; background-color: #fff;
  }
		.rule >.rule_contrast{
			position: relative;
			height: 100vh; font-size: 30px;
		}
			.pages .content .cont02 .rule_contrast >h3{
				z-index: 1;
				position: absolute; top: 20%; left: 50%; transform: translateX(-50%);
				line-height: 50px;
				font-size: 1em; font-weight: normal; color: #fff;
			}
			.pages .content .cont02 .rule_contrast >h3 >.bold{ font-weight: 700; font-size: 1.3em; }

			.pages .content .cont02 .rule_contrast >img{
				position: absolute; left: 50%; transform: translateX(-50%); bottom: 20%;
			}
			.pages .content .cont02 .rule_contrast >.black{
				display: block;
				position: absolute; top: 0;
				width: 100%; height: 100%;
				background-color: rgba(0,0,0,0.6);
			}

		/* html 규정에 관한 인증 및 설명 */
		.rule >.rule_html{
			position: relative;
			height: 100vh; overflow: hidden;
			font-size: 17px;
		}
			.rule_html >.rule_title{
			  width: 55%; height: 60px; margin: 130px auto 25px;
			  display: flex; justify-content: space-around;
			  font-size: 1.3em; font-weight: 700;
			}
			.rule_html >.rule_title >li{ padding: 10px 0 0; border-top: 2px solid var(--black); }
			.rule_html >img{ width: 50%; height: auto; }

	.pages .content .cont02 >.design{
	  height: auto; font-size: 18px;
		}
		.pages .content .cont02 >.design .title_wrap{ width: 100%; height: 250px; padding: 50px 0 0 450px; background-color: #ddd; }
		.pages .content .cont02 >.design .title_wrap >h3{ font-size: 2.2em; font-weight: 700; line-height: 80px; }
		.pages .content .cont02 >.design .title_wrap >p{ margin-left: 15px; font-size: 1em; line-height: 30px; }

		.design_img{
			width: 100%; height: auto;
			background-color: #fff;
			text-align: center;
			overflow: hidden;
		}
		.design_img >.responsive{
			width: 100%; height: 800px; padding: 50px 0; margin: 0 auto 100px; background-color: #ddd;
		}
		.design_img >.responsive >img{
			width: 55%; height: auto;
		}



/* // content-2=============================================================== */


/* content-3=============================================================== */
.pages .content .cont03 >.title_area{
  width: 100%; height: 100vh; margin: auto;
  background: url(../../img/Dosign/dosign_main.png) center/cover; background-color: #fff;
  position: relative;
}
  .title_area >.menu{
    width: 60%; height: 100px;
    position: absolute; left: 50%; transform: translateX(-50%); bottom: 6%;
    display: flex; justify-content: space-around;
  }

.pages .content .cont03 >.menu_list{
  width: 100%; height: auto; overflow: hidden;
}
  .menu_list >div{
    width: 100%; height: 100vh; position: relative; background-color: #fff;
  }
	.menu_list >div >.wrap{
		width: 80%;
		position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);
	}
  .menu_list >#overview{
    background: url(../../img/Dosign/overview-bg.png) center/cover;
		font-size: 18px; text-align: center;
  }
		#overview >.wrap >.overview_list{
			width: 80%; height: 250px; margin: 100px auto 0;
			display: flex; justify-content: space-around;
		}
		#overview >.wrap >.overview_list >li{
			width: 250px; height: 100%; line-height: 30px; padding: 85px 0;
			border: 4px solid #000;
			border-radius: 50%;
			font-size: 1.1em; font-weight: 700;
		}
		#overview >.wrap >.overview_list >li:first-child{ border-color: #f1c289; }
		#overview >.wrap >.overview_list >li:nth-child(2){ border-color: #b3dbb5; }
		#overview >.wrap >.overview_list >li:last-child{ border-color: #c8b5d3; }

  .menu_list >#styleguide{
    background: url(../../img/style-bg.png) center/cover;
		background-color: #fff;
		font-size: 18px;
  }
	#styleguide >.wrap >article{
		width: 100%; height: 50%;
		display: flex; justify-content: space-around;
		margin: 100px 0;
	}
	#styleguide >.wrap >article .title >h3{
		font: 2.5em var(--english-font); font-weight: 800; line-height: 80px;
	}
	#styleguide >.wrap >article .title >p{
		font-size: 1.1em; line-height: 30px; margin-left: 15px;
	}

  .menu_list >#rule{
		width: 100%; height: 200vh; text-align: center;
  }
		#rule >.rule_contrast{
			height: 50%; position: relative; font-size: 30px;
		}
			.rule_contrast >h3{
				z-index: 1;
				position: absolute; top: 25%; left: 50%; transform: translateX(-50%);
				line-height: 50px;
				font-size: 1em; font-weight: normal; color: #fff;
			}
			.rule_contrast >h3 >.bold{ font-weight: 700; font-size: 1.3em; }

			.rule_contrast >img{
				position: absolute; left: 50%; transform: translateX(-50%); bottom: 15%;
			}
			.rule_contrast >.black{
				display: block;
				position: absolute; top: 0;
				width: 100%; height: 100%;
				background-color: rgba(0,0,0,0.7);
			}

		/* html 규정에 관한 인증 및 설명 */
		#rule >.rule_html{
			height: 50%; position: relative; font-size: 17px;
		}
			.rule_html >.rule_title{
			  width: 55%; height: 60px; margin: 130px auto 10px;
			  display: flex; justify-content: space-around;
			  font-size: 1.3em; font-weight: 700;
			}
			.rule_html >.rule_title >li{ padding: 10px 0 0; border-top: 2px solid var(--black); }

  .menu_list >#function{
    height: 2000px;
		text-align: center;
		font-size: 23px;
		overflow: hidden;
  }
		#function >.main_func, #function >.webpage_func{
			width: 100%; height: auto; margin-bottom: 100px;
			background: url(../../img/Dosign/function-bg.png) center/cover;
			overflow: hidden;
		}
		#function h3{
			margin-top: 220px;
			font: 1em;
		}
		#function img{ margin-top: 30px; width: 1200px; height: auto; }

  .menu_list >#design{
    height: auto; font-size: 18px;
  }
		.title_wrap{ width: 100%; height: 400px; padding: 150px 500px; background-color: #ddd; }
		.title_wrap >h3{ font-size: 2.2em; font-weight: 700; line-height: 80px; }
		.title_wrap >p{ margin-left: 15px; font-size: 1em; line-height: 30px; }

		.design_img{
			width: 100%; height: auto;
			background-color: #fff;
			text-align: center;
		}

/* // content-3=============================================================== */


.js .pages .content h2,
.js .pages .content p {
	-webkit-transform: translate3d(0,200px,0);
	transform: translate3d(0,200px,0);
	-webkit-transition-property: opacity;
	transition-property: opacity;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: cubic-bezier(.7,0,.3,1);
	transition-timing-function: cubic-bezier(.7,0,.3,1);
}

.pages .content.show h2,
.pages .content.show p {
	-webkit-transition-duration: 1s;
	transition-duration: 1s;
	-webkit-transition-property: -webkit-transform, opacity;
	transition-property: transform, opacity;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.pages .content.show p {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}


/* Switch */
.switch-min .img-dragger-large .slide > *:not(.img-wrap),
.switch-max .img-dragger-small .slide > *:not(.img-wrap)  { /* fade out everything except image */
	opacity: 0;
	-webkit-transition: none;
	transition: none;
}

.switch-min .img-dragger-large,
.switch-max .img-dragger-small {
	-webkit-transition: -webkit-transform 0.6s cubic-bezier(.7,0,.3,1);
	transition: transform 0.6s cubic-bezier(.7,0,.3,1);
}

.img-dragger-small button.content-switch {
	opacity: 0;
	pointer-events: none;
}

/* Helper classes */
.no-transition {
	-webkit-transition: none !important;
	transition: none !important;
}

.hide {
	opacity: 0 !important;
	pointer-events: none !important;
}

@media screen and (max-width: 63.125em) {
	.dragslider h2 {
		font-size: 1.7em;
	}
	.dragslider h2 span {
		font-size: 0.9rem;
	}
	.img-dragger-small .slide h2{
		font-size: 1.3em;
	}
	.pages .content {
		font-size: 100%;
	}
	.pages .content h2 {
		font-size: 3em;
	}
}

@media screen and (max-width: 650px) {
	button.slider-switch {
		display: none;
	}
}
