@charset "utf=8";
/* css/header.css */

/* montserrat 영문 구글폰트 */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap');

:root{
  --black:#1c1c1c;
  --accent-color: ;
  --english-font: 'Montserrat';
  --korean: 'NanumSquare';
  --korean-size: 1.2em/1.3em;
}

/* 텍스트 드래그 */
::selection{ background-color: var(--accent-color); color: #fff; }

#headBox{
	width: 100%; height: 140px;
	position: absolute; z-index: 101;
	top: 0; left: 0;
	overflow: hidden;
	display: flex; justify-content: space-between;
}
#headBox >h1{
	position: absolute;
	top: 50%; left: 2%; transform: translateY(-50%);
}
/* prev button */
.prev_btn >.menubar{
	width: 60px; height: 60px;
	position: absolute; z-index: 101;
	top: 2%; right: 3%;
  background-color: transparent;
}
  .menubar >img{
    margin: 15px;
  }
/* //prev button */
